.editbutton {
  background: url('/Styles/Assets/Images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: auto;
}

.removeButton {
  background: url('/Styles/Assets/Images/xCircle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: auto;
}
