.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;

  .dateRange-Day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 2.65rem;
    min-height: fit-content;
    height: 2.65rem;
    font-size: medium;
  }
}

.calendarGridHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.dayName {
  text-align: center;
  font-size: medium;
}

.dateRangeGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}
