.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, fit-content);
  justify-content: center;

  .dateRange-Day {
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 40px;
    height: 40px;
  }
}

.calendarGridHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.gridItem {
  height: auto;
  min-height: 160px;
}

.mobileGridItem {
  width: auto;
  height: auto;
  min-height: 100px;
}

.dayText {
  justify-content: start;
}

.mobileDayText {
  justify-content: center;
}

.dayName {
  text-align: center;
}
