.calendar {
  margin-top: 40px;
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, minmax(40px, 1fr));
    grid-template-rows: repeat(6, fit-content);
    justify-content: center;

    .gridItem {
      height: auto;
      min-height: 160px;
    }

    .mobileGridItem {
      width: auto;
      height: auto;
      min-height: 100px;
    }

  }

  .calendarGridHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
  }
}

.dateNavigation {
  flex-direction: row;
  @media screen and (max-width: 400px) {
    justify-content: space-evenly;
  }
}

.emptySpace {
  padding: '0.5rem';
  height: 32px;
}

.dayText {
  font-size: medium;
  justify-content: start;
}

.dayName {
  font-size: medium;
  text-align: center;
}
