.dropdownInput {
  height: 40px;
  min-width: 150px;
  max-width: 250px;
}
.dropdown {
  background-color: white;
  width: 100%;
  position: absolute;
  top: 43px;
  z-index: 10;
  padding: 10px;
}
.dropdownItem {
  margin: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
