@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* line-height: calc(1em + 0.5rem); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  line-height: 1.5;
  font-family: 'Inter-variable', sans-serif;
  @apply bg-zinc-50;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  outline: none !important;
  padding: 0.25rem 0.75rem;
  height: 2.5rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#__next {
  isolation: isolate;
}

.react-pdf__Page__canvas {
  height: auto !important;
  min-height: 680px;
}

.document-controls {
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 50%;
  place-content: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}

.documentPDFView:hover .document-controls,
.document-controls:hover {
  opacity: 1;
  z-index: 2;
}

.pdf-download:hover {
  background-color: #e6e6e6;
}

.pdf-download {
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: url('./Assets/Images/downloadDocument.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
}


@font-face {
  font-style: italic normal oblique;
  font-weight: 100 900;
  src: url('./Assets/Fonts/Inter-VariableFont.ttf') format('truetype');
  font-family: 'Inter-variable';
}

.page-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr min(120em, calc(100% - 160px)) 1fr;
  column-gap: 32px;
}

@media screen and (max-width: 768px) {
  .page-container {
    grid-template-columns: 1fr calc(100% - 64px) 1fr;
  }
}

.page-container > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
