.overlay {
  user-select: none;
  position: fixed;
  display: flex;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.87);
  cursor: default;
  z-index: 1;
  align-items: center;

  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: right;
  }
  &.bottom {
    align-items: end;
    justify-content: center;
  }
  &.tom {
    align-items: start;
    justify-content: center;
  }
  .children {
    z-index: 2;
    max-height: 100%;
    cursor: default;
  }
  .children > *:first-of-type {
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
  }
}

.fade {
  animation: fadeIn 0.1s ease-in-out;
}

.slide-left {
  animation: slide-left 0.1s ease-in-out;
}

.slide-right {
  animation: slide-right 0.1s ease-in-out;
}

.slide-top {
  animation: slide-top 0.1s ease-in-out;
}

.slide-bottom {
  animation: slide-bottom 0.1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
