.translateButton {
  position: relative;
  box-sizing: content-box;
  padding: 5px;
  height: 30px;
  width: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  &.lightMode {
    background-image: url('/Styles/Assets/Images/language.svg');
  }
  &.darkMode {
    background-image: url('/Styles/Assets/Images/translate-white.svg');
  }
}
