@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter-variable', 'Nunito-variable', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-zinc-50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
textarea {
  outline: none !important;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  height: 100%;
}

@font-face {
  font-family: 'Inter-variable';
  src: url('./Styles/Assets/Fonts/Inter-VariableFont.ttf') format('truetype');
  font-style: italic normal oblique;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Nunito-variable';
  src: url('./Styles/Assets/Fonts/Nunito-VariableFont_wght.ttf')
    format('truetype');
  font-style: italic normal oblique;
  font-weight: 100 900;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr min(120em, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

@media screen and (max-width: 768px) {
  .page-container {
    display: block;
  }
}

.page-container > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
